# Mission 1

![](https://i.imgur.com/Ax3pp2A.png)


Create a "fruit" dataframe that reflects the above example **using a list** data structure

[This resource could help you](https://datatofish.com/list-to-dataframe/).

In [1]:
import pandas as pd

In [2]:
# Creates a "fruit" dataframe that reproduces the above image using a list
fruits = {
    "Apples": [30],
    "Bananas": [21]
}

fruit = pd.DataFrame(fruits)
print(fruit)

# or
print("-"*20)
fruit_list= [[30, 21]]
fruit_l = pd.DataFrame(fruit_list, columns=["Apples", "Bananas"])
print(fruit_l)

   Apples  Bananas
0      30       21
--------------------
   Apples  Bananas
0      30       21

# Mission 2

Create a "fruit_vendors" dataframe that reflects the below example **using a dictionary** data structure

![](https://i.imgur.com/CHPn7ZF.png)

[This resource could help you.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_dict.html)

In [3]:
fruits_vendus_ = {
    "Apples": {
        "2017 Sales": 30,
        "2018 Sales": 41,
    },
    "Bananas": {
        "2017 Sales": 21,
        "2018 Sales": 34,
    }
}

fruits_vendus = pd.DataFrame(fruits_vendus_)
fruits_vendus

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

# Mission 3

Use a loop to display the values from each column in the dataframe from mission 2.

In [4]:
df = fruits_vendus
for i in df.columns:
    print(df[i].values)

[30 41]
[21 34]

# Mission 4

Delete the first row of the dataframe from mission 2

[This resource could help you.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [5]:
df.drop(["2017 Sales"], axis=0, inplace=True)
df

            Apples  Bananas
2018 Sales      41       34

# Mission 5

Delete the first column from the dataframe from mission 2.

In [6]:
df.drop(["Bananas"], axis=1, inplace=True)
df

            Apples
2018 Sales      41