# Type

1. Dans la cellule de code ci-dessous, quel est, pour chaque cellule, le type de l'objet x ?  
`indice`: vous pouvez utiliser `type(x)` pour le révéler.

1.1

In [ ]:
x = 5
print(type(x))
# integer

<class 'int'>

1.2

In [ ]:
x = "Hello World"
print(type(x))
# string

<class 'str'>

1.3

In [ ]:
x = 2.5
print(type(x))
# float

<class 'float'>

1.4

In [ ]:
x = ["mintcream", "burlywood", "salmon"]
print(type(x))
# liste

<class 'list'>

1.5

In [ ]:
x = ("mintcream", "burlywood", "salmon")
print(type(x))
# tuple

<class 'tuple'>

1.6

In [ ]:
x = {"name": "Jules César", "Job": "Musician", "age": 55}
print(type(x))
# dictionnaire

<class 'dict'>

1.7

In [ ]:
x = True
print(type(x))
# booléen

<class 'bool'>

2. Maintenant, vous allez devoir convertir des objets d'un certain type, en un autre type d'objet.  
C'est parti !

2.1 Convertissez x en float.

In [ ]:
x = 5
x = float(x)
print(type(x))

<class 'float'>

2.2 Convertissez x en int

In [ ]:
x = 5.4
x = int(x)
print(x)

5

2.3 Convertissez x en int

In [ ]:
x = 5.6
x = int(x)
print(x)

5

2.4 Que pouvez-vous remarquer ?

Réponse: La convertion d'un float en int, arrondi automatiquement.

2.5 Trouvez le moyen d'arrondir x.

In [ ]:
x = 5.6
print(round(x))

6

2.6 Après avoir arrondi x, est-ce que x est toujours un `float` ?  
Réponse: oui, la valeur reste un float.

2.7 Ci-dessous, est-ce que x est un `int` ?

In [ ]:
x = 6.0
# Non, x est un float
print(type(x))

<class 'float'>

2.8 Arrondissez x avec 3 valeurs décimales.

In [ ]:
x = 3.14159265359
print(round(x, 3))

3.142

# Built-in Function

3.1 Utilisez une [built-in function](https://docs.python.org/3/library/functions.html) pour compter le nombre de lettres dans l'objet de type `string` suivant:

In [ ]:
x = "Hello World"
p = x.replace(" ", "")
print(len(p))

10

In [ ]:
x = ["non", "pas", 1, "ni", 2, "ni", 3, "mais", 7.2132]
print(len(x))

9

3.3 Utilisez une built-in function sur une des deux variables pour que `resultat`  contienne une valeur positive.

In [ ]:
var_1 = 4
var_2 = -5

resultat = var_1 + abs(var_2)
print(f"var_1: {var_1}, var_2: {abs(var_2)}, résultat: {resultat}")

var_1: 4, var_2: 5, résultat: 9

3.4 Utilisez une built-in function pour renvoyer la valeur minimum de la `list` suivante:

In [ ]:
a_list = [3.2, 41, 2, 23, 7]
print(min(a_list))

2

3.5 Utilisez une built-in function pour renvoyer la somme des valeurs de la `list` suivante:

In [ ]:
a_list = [3.2, 41, 2, 23, 7]
print(sum(a_list))

76.2